
// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

$color-principal: #5265E1;
$color-secundari: #FA5959;
$btn-padding: 0.5rem 2rem;

@mixin items-style {
    margin-left: 3rem;
    font-size: 0.7rem;
}

@mixin text-secondary-style{
    color: $secondary;
    font-size: 1rem;
    font-weight: 300; 
    display: block;
    padding-bottom: 2rem;
    max-width: 550px;
}

@mixin btn-intro{
    padding: $btn-padding;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

@mixin nav-item-style {
    margin-left: 2rem;
    font-size: 0.7rem;
    color: $dark;
    text-decoration: none;

    &:hover {
        color: $color-secundari;
    }
}

@mixin btn-login($border-color, $bg-color, $hover-bg-color, $hover-border-color, $hover-color) {
    border: 1px solid $border-color;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: $bg-color;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    padding: $btn-padding;

    &:hover {
        background-color: $hover-bg-color;
        border: 1px solid $hover-border-color;
        color: $hover-color;
        padding: $btn-padding + 0.1rem;
    }
}


// body, .container-fluid {
//     margin: 0;
//     padding: 0;
// }
body {
    font-family: 'Poppins', sans-serif;
}

.container-navbar{
        margin: 2rem 8rem 4rem 5rem;
    }

.navbar-nav .nav-item .nav-link {
    @include nav-item-style;
}


.btn-outline-success {
    @include items-style;
    @include btn-login($color-secundari, $color-secundari, transparent, $color-secundari, $color-secundari);    
}


.row.reverse {
    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }
}


.display-2{
    font-size: 2.5rem;
    font-weight: 550;
    width: 400px;
    padding-bottom: 2rem;
}
.description{
    @include text-secondary-style;
    max-width: 500px;
   
}

.btn-chrome{
    @include btn-intro;
    background-color: $color-principal;
    border-color: $color-principal;
    color: white;

    &:hover{
        background-color: transparent;
        border-color: $color-principal;
        color: $color-principal
    }
}
.btn-firefox{
    @include btn-intro;
    background-color: whitesmoke;
    color: $dark;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    &:hover{
        background-color: transparent;
        border-color: $dark;
    }
}
.info-text{
    @include text-secondary-style;
    text-align: center;
}

.custom-item .nav-link{
    @include nav-item-style;
    font-size: 1rem;
    // padding-right: 2rem;

    &.active{
        text-decoration: none;
        font-weight: normal;
        color: $color-secundari;
    }

}

.custom-underline {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1.5rem 0; 

    .nav-link {
        position: relative;
        padding-bottom: 10px;

        &::before,
        &::after {
            content: '';
            position: absolute;
            bottom: -10px; 
            left: 0;
            width: 0;
            height: 3px;
            background-color: transparent;
            transition: width 0.3s;
        }

        &::after {
            background-color: $color-secundari; 
        }

        &.active::after {
            width: 100%; 
        }
    }
}

.img-tab {
    max-width: 100%;
    height: auto;

    @media (max-width: 768px) {
        max-width: 100%;
        margin: 0 auto;
    }
}

.titulo-tab {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.text-tab{
    @include text-secondary-style;
}

.titulo-tab{
    padding-left: 5rem;
}
.text-tab{
    padding-left: 5rem;
}
.btn-outline-tab {
    @include items-style;
    @include btn-login($color-principal, $color-principal, transparent, $color-principal, $color-principal);
    background-color: $color-principal;
    margin-left: 5rem;
}

.section-intro {
    margin-top: 20px; 
}

.descargas {
    margin-top: 40px; 
}

.card-style{
    background: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .card-header,
    .card-body,
    .card-footer {
        border: none; 
}
}

.card-chrome{
    position: relative;
    top: 2rem;
}
.card-opera{
    position: relative;
    top: 4rem;
}

.btn-outline-card {
    @include btn-intro;
    background-color: $color-principal;
    border-color: $color-principal;
    color: white;
    padding: 0.75rem 1.5rem; // Увеличим внутренние отступы для более приятного внешнего вида

    &:hover {
        background-color: white;
        color: $color-principal;
        border-color: $color-principal;
    }
}

.img-padding{
    padding: 2rem 1rem;
}
.card-narrow{
    width: 80%;
    margin: 0 auto;
}

.img-full-width{
    width: 100%;
    height: auto;
}

.btn-outline-faqs {
    @include items-style;
    @include btn-login($color-principal, $color-principal, transparent, $color-principal, $color-principal);
    background-color: $color-principal;
}


.accordion-body {
    background-color: white !important; 
    border: none !important; 
}

.form-container {
    height: 400px; 
    padding-top: 50px; 
    padding-bottom: 50px; 
    background-color: $color-principal;
}


.txt-sm-form{
    font-size: small;
    font-weight: 600;
}

.btn-forma{
    @include btn-intro;
    background-color: $color-secundary;
    border-color: $color-secundari;
    color: white;
    padding: 0.75rem 1.5rem; 

    &:hover {
        background-color: white;
        color: $color-principal;
        border-color: $color-secundari;
    }
}

.footer {
    background-color: MidnightBlue;
    // padding-top: 2rem;
    // padding-bottom: 2rem;
    
    .footer-navbar .navbar-brand {
      display: flex;
      align-items: center;
      margin-right: 2rem;
    }
  
    .footer-navbar .navbar-nav .nav-link {
      font-size: 1rem;
      color: Lavender;
      padding: 0.5rem 1rem;
  
      &:hover {
        color: $color-secundari;
      }
    }
  
    .footer-navbar .navbar-nav .nav-link img.social-icon {
      width: 1.5rem; 
      height: auto;
    }
  }
  