
// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// styles/main.scss

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

$color-principal: #5265E1;
$color-secundari: #FA5959;
$btn-padding: 0.5rem 2rem;

@mixin items-style {
    margin-left: 3rem;
    font-size: 0.7rem;
    
}

body {
    font-family: 'Poppins', sans-serif;
}

.container-fluid{
        margin: 2rem 8rem 4rem 5rem;
    }

.navbar-nav .nav-item .nav-link {
    @include items-style;
    color: $dark;
    text-decoration: none;

    &:hover{
        color: $color-secundari;
    }

}

.btn-outline-success {
    @include items-style;
    border: 1px solid $color-secundari;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: $color-secundari;
    transition: background-color 0.3s;
    padding: $btn-padding;

    &:hover {
        background-color: transparent;
        border: 1px solid $color-secundari;
        color: $color-secundari;
        padding: $btn-padding + 0.1rem;
    }
}

.display-2{
    font-size: 2.5rem;
    font-weight: 550;
    width: 400px;
    padding-bottom: 2rem;
}
.description{
    color: $secondary;
    font-size: 1rem; 
    display: block;
    padding-bottom: 2rem;
    
}
.section-intro {
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        // padding: 3rem 1.5rem;
    }

    .intro-text {
        max-width: 500px;
        padding-bottom: 2rem;
    }

    .intro-img img {
        max-width: 100%;
        height: auto;
    }
    .btn-container {
        display: flex;
        gap: 1rem;
    }
}

@mixin btn-intro{
    padding: $btn-padding;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
.btn-chrome{
    @include btn-intro;
    background-color: $color-principal;
    border-color: $color-principal;
    color: white;

    &:hover{
        background-color: transparent;
        border-color: $color-principal;
        color: $color-principal
    }
}
.btn-firefox{
    @include btn-intro;
    background-color: whitesmoke;
    color: $dark;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    &:hover{
        background-color: transparent;
        border-color: $dark;
    }
    
    
}